section
    div.row
        h2 Berastagi
    div.row
        img.img-responsive(src="img/berastagi3.jpg")
    div.row
        p.text-justify Berastagi merupakan objek wisata di dataran tinggi Karo. Berastagi berjarak sekitar 66 kilometer dari Kota Medan. Berastagi diapit oleh 2 gunung berapi aktif yaitu Gunung Sibayak dan Gunung Sinabung. Aktivitas ekonomi di Berastagi terpusat pada pasar sayur dan buah-buahan, dan pada pariwisata. Etnis yang dominan di daerah ini adalah Batak Karo.

section
    div.row
        h2 Berastagi Cont...
    div.row
        p.text-justify Ada banyak tempat yang bisa anda kunjungi di Berastagi , Berikut lima tempat yang tidak boleh anda lewatkan saat berkunjung di Berastagi dan sekitarnya :
    ol.text-left
        li Desa Lingga
        li Bukit Gundaling
        li Pasar Buah Berastagi
        li Pemandian Air Panas Sidebu-debu
        li Taman Alam Lumbini
    
section
    div.row
        h2 Desa Lingga
    div.row
        img.img-responsive(src="img/desalingga.jpg")
    div.row
        p.text-justify Desa ini terletak 15 Km. dari Berastagi, tepatnya di Kecamatan Simpang Empat. Berisi rumah - rumah bersejarah yang telah berusia lebih dari 250 Tahun. Juga terdapat museum lingga yang berisi peninggalan-peninggalan kerajaan Karo. Kota Berastagi didominasi oleh suku Karo dan memiliki kerajaan yang unik. Dari desa inilah kabarnya terbentuk wilayah Karo.

section
    div.row
        h2 Bukit Gundaling
    div.row
        img.img-responsive(src="img/gundaling.jpg")
    div.row
        p.text-justify Bukit gundaling juga menjadi peristirahatan para pelancong, bukit hijau yang berhiaskan pinus ini terlihat indah dan menawan. Dari sini kita bisa berkeliling dengan kuda sendiri atau bersama Keluarga, Diatas bukit Kita bisa melihat panorama kota Berastagi dari ketinggian, disini juga bisa kita jelas Gunung Sinabung dan Sibayak.
        
section
    div.row
        h2 Bukit Gundaling Cont...
    div.row
        img.img-responsive(src="img/kuda.jpg")
    div.row
        p.text-justify Di kaki bukit, terdapat banyak sekali bangunan-bangunan bersejarah peninggalan belanda yang ada disekitar bukit Gundaling. Kita bisa menikmati sunrise dari atas bukit. Hampir disepanjangan jalan, terdapat banyak tempat yang menjual souvenir-souvenir, menjual oleh-oleh dan cinderamata khas berastagi.
        
section
    div.row
        h2 Pasar Buah Berastagi
    div.row
        img.img-responsive(src="img/pasarbuahberastagi.jpg")
    div.row
        p.text-justify Pasar buah Berastagi merupakan pasar buah paling sibuk di Sumatera Utara, setiap hari ada saja pelancong dari berbagai daerah singgah disini, macam-macam buah segar bisa dtemukan di pasar buah ini. Disini juga terdapat banyak sayur-sayuran Segar yang terhampar dipasar buah Berastagi dan letak pasar ini tak jauh dari Pusat Kota. 
        
section
    div.row
        h2 Pemandian Sidebu-debu
    div.row
        div.col-md-6
            img.img-responsive(src="img/sidebuk2.jpg")
        div.col-md-6.hidden-xs
            img.img-responsive(src="img/sidebu3.jpg")

section
    div.row
        h2 Pemandian Sidebu-debu
    div.row
        p.text-justify Saat perjalanan menuju Berastagi kita akan menemukan simpang Lau Sidebu-debu di Desa Douluh dan kita langsung berbelok ke kanan, kita akan menuju ke lokasi pemandian air panas belerang di sekitar Desa Raja Berneh dan Semangat Gunung. Ada banyak kolam pemandian air panas belerang disini, tarif masuknya bervariasi antara 3000 - 10.000. Selain sebagai penyegaran badan, mandi air panas belerang juga dipercayai bisa menyembuhkan berbagai penyakit kulit. selain tempat pemandian air belerang jalur ini juga menjadi salah satu jalur pendakian menuju gunung sibayak yang bisa ditempuh selama 2-4 Jam dengan berjalan kaki. 
        
section
    div.row
        h2 Taman Alam Lumbini
    div.row
        div.col-md-6
            img.img-responsive(src="img/Taman_lumbini.jpg")
        div.col-md-6.hidden-xs
            img.img-responsive(src="img/lumbini2.jpg")

section
    div.row
        h2 Taman Alam Lumbini
    div.row
        p.text-justify Saat memasuki gapura berastagi kita akan menemukan simpang dengan tugu yang memiliki patung jeruk diatasnya. Tempat ini bernama desa Tongkoh, dan kita bisa berbelok ke kiri hingga 600 Meter kedalam, kita akan menemukan Pagoda dan Stupa Umat Budha tertinggi di Indonesia. Pagoda ini merupakan replika Pagoda Shwedagon di Mayanmar. Di Kelilingi taman-taman yang Indah, setiap orang bisa memasuki kawasan pagoda ini. Pagoda ini terlihat sangat indah dengan ornamen warna emasnya yang menawan.
