section
    div.row
        h2 Bukit Lawang
    div.row
        img.img-responsive(src="img/Bukit_lawang.jpg")
    div.row
        p(style="text-align:justify") Bukit Lawang adalah sebuah desa kecil yang terletak di selatan Taman Nasional Gunung Leuseur. Terletak sekitar 90 kilometer barat laut Medan, ibu kota Sumatera Utara. Bukit Lawang adalah pintu gerbang ke dalam hutan Sumatera yang legendaris yang memiliki medan licin dan lereng curam serta berlumpur.
    
section
    div.row
        h2 Bukit Lawang Cont...
    div.row
        img(src="img/Orang_Utan.jpg" width="60%" height="70%")
    div.row
        p(style="text-align:justify") Bukit Lawang adalah salah satu tempat terbaik di dunia untuk menemukan primata langka dan hampir punah. Melihat makhluk anggun berayun-ayun melalui ranting-ranting pohon. Hutan ini adalah salah satu komunitas terbesar orangutan,  lebih dari 5000 orangutan tinggal di sini.        
    div.row
        p(style="text-align:justify") Pusat rehabilitasi orangutan adalah tempat bagi orangutan yatim piatu yang dilatih hidup di alam bebas. Pusat ini telah beroperasi sejak tahun 1973 dan hingga kini telah menarik pengunjung dari seluruh dunia untuk melihat sekilas makhluk menakjubkan.


section
    div.row
        h2 Bukit Lawang Cont...
    div.row
        p(style="text-align:justify") Ketika Anda masuk ke dalam hutan Sumatera, Anda bisa berkeliling dengan berjalan kaki. Perjalanan melalui hutan liar dan berlumpur, mencoba dan melihat sekilas satwa liar. Taman ini adalah rumah bagi hewan Sumatera dan hewan di dunia yang paling eksotis yaitu gajah, harimau, beruang madu, macan tutul dan orangutan yang terkenal. Disini kita bisa mendaki bukit untuk melihat pemandangan yang luar biasa dan berarung jeram di sungai bahorok yang sangat deras.
