section
    a(href='https://github.com/Edricktjiam/Tugas-Tkppl')
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
    h2 Objek wisata Sumatera Utara
    h3 by Random
    ul.team
      li Edrick Tj(15 111 0652)
      li Helpin(13 111 1386)
      li Hendrik Tongko(15 111 0571)
      li Christopher
