section
    div.row
        h2 Durian House
    div.row
        img(src="img/durian.jpg" width="80%" height="100%")
        
        
section
    div.row
        h2 Durian House
    div.row
        p.text-left Jika Anda mencari pancake durian yang lezat, Durian House adalah tempat yang tepat. Pancake durian di toko ini rasanya tidak jauh berbeda saat Anda menikmati durian langsung. Jadi saat memakan pancake rasanya seperti makan buah durian. Bahan dasar pembuatan pancake durian memang murni dari durian. Demikian pula dengan beberapa produk olahan durian yang lain.
                
        
section
    div.row
        h2 Durian House
    div.row
        p.text-left Satu kotak kecil pancake durian dibanderol dengan harga Rp 7.500,-. Sedangkan untuk 1 kotak besar yang berisi 10 pancake dibanderol hingga Rp 80 ribu. Walaupun harga pancake di sini lebih murah, namun tidak menutup kemungkinan jika harga tersebut berubah. Anda dapat menemukan berbagai macam olahan durian seperti bolu gulung durian yang harganya Rp 40 ribu sampai Rp 50 ribu per plat, dodol durian Rp 10 ribu, brownies durian Rp 40 ribu, lempok, donat durian, Rp 7 rubu, roti isi durian Rp 6 ribu, dan beberapa pilihan makanan lainnya. Makanan yang paling populer dan diincar oleh para pelanggan adalah pancake durian.
        
        
section
    div.row
        h2 Lokasi
    div.row
        p.text-left toko ini terletak di jalan gajah mada No.26 Medan.
