section
    div.row
        h2 Gunung Sibayak 
    div.row
        img.img-responsive(src="img/gunungsibayak.jpg")
        
        
section
    div.row
        h2 Gunung Sibayak
    div.row
        p.text-justify Gunung Sibayak adalah kelas gunung berapi aktif yang memiliki uap panas. Selain itu, letusan yang terjadi beberapa waktu lalu cukup mengguncang bebatuan di puncak gunung. Kondisi yang cukup “tidak beraturan” pada bebatuan puncak nya ini, justru menjadi keunikan tersendiri yang menarik wisatawan yang senang menguji adrenalinnya untuk berusaha menaklukkan Gunung Sibayak hingga mencapai puncaknya. Pemandangan matahari terbit dari puncak gunung akan membuat anda terperangah.
        
        
section
    div.row
        h2 Gunung Sibayak Cont...
    div.row
        p.text-justify Selain keindahan pemandangan puncaknya, aliran air dari sela-sela batuan gunung akan sangat menyegarkan Anda. Penduduk banyak yang memanfaatkannya sebagai sumber air minum. Air nya dingin dan sangat jernih. Inilah alasan utama sumber air pegunungan yang terus mengalir ini menjadi salah satu sumber air untuk air minum kemasan merek “AQUA”.


section
    div.row
        h2 Gunung Sibayak Cont...
    div.row
        img(src="img/kawah.jpg" width="70%" height="65%")
    div.row
        p.text-justify Terlepas dari kawasan puncak, Gunung Sibayak masih menyimpan kemegahannya. Kawasan lainnya yang sering dijadikan objek berfoto bagi para pendaki adalah kawah Gunung Sibayak. Di dalam kawah ini terletak batu cadas dengan kawah belerang seluas 40.000 meter. Kandungan solfatara membuatnya tak berhenti menyemburkan uap panas. Bagian yang landainya dapat dijadikan tempat Anda untuk beristirahat sejenak di dalam tenda. Akhir pekan atau hari libur sekolah akan sangat berpengaruh terhadap pertambahan jumlah pendaki gunung.
        
        
section
    div.row
        h2 Lokasi
    div.row
        p.text-justify Gunung Sibayak berlokasi di dataran tinggi Karo, Kabupaten Karo, Sumatera Utara. Ketinggian Gunung yang kerap menjadi objek pendakian ini mencapai 2.094 meter dpl. Secara administratif, hutan alam pegunungan ini masuk dalam dalam kategori Taman Hutan Raya (Tahura) Bukit Barisan. Puncak tertinggi dari Gunung Sibayak bernama “Takal Kuda”. Ini adalah bahasa Karo yang berarti “Kepala Kuda”. Posisi koordinat puncaknya adalah berada pada 97°30′BT dan 4°15′LS.


section
    div.row
        h2 Akses
    div.row
        p.text-justify Berangkat dari Kota Medan, Anda akan menempuh jarak sejauh 77 km dengan waktu kurang lebih 2 jam untuk sampai di Berastagi. Anda bisa memilih kendaraan roda dua atau roda empat. Setelah itu, untuk mencapai lokasi, terdapat dua pilihan rute, diantaranya perjalanan dari Berastagi atau dari Desa Semangat Gunung. Terdapat tiga pintu masuk hutan gunung yang bisa Anda pilih untuk menuju puncak Gunung Sibayak. Menelusuri jalan setapak sepanjang hutan tropis dan hamparan tebing curam. Jalur masuk tersebut adalah melalui Desa Raja Berneh (Semangat Gunung), Jalur 54, Penatapan jagung rebus dan Jaranguda yang berjarak sekitar 500 meter dari Kota Berastagi.
