section
    div.row
        h2 Istana Maimun Medan
    div.row
        img(src="img/istanamaimun.jpg" width="40%" height="40%")
    div.row
        p.text-justify Istana Maimun, terkadang disebut juga Istana Putri Hijau, merupakan istana kebesaran Kerajaan Deli. Istana ini didominasi warna kuning, warna kebesaran kerajaan Melayu. Pembangunan istana selesai pada 25 Agustus 1888 M, di masa kekuasaan Sultan Makmun al-Rasyid Perkasa Alamsyah. Sultan Makmun adalah putra sulung Sultan Mahmud Perkasa Alam, pendiri kota Medan.

section
    div.row
        h2 Istana Maimun Medan Cont..
    div.row
        p.text-justify Bagi para pengunjung yang datang ke istana, mereka masih bisa melihat-lihat koleksi yang dipajang di ruang pertemuan, seperti foto-foto keluarga sultan, perabot rumah tangga Belanda kuno, dan berbagai jenis senjata. Di sini, juga terdapat meriam buntung yang memiliki legenda tersendiri. Orang Medan menyebut meriam ini dengan sebutan <strong>meriam puntung</strong>.
        p.text-justify Istana Maimun ini terletak di jalan Brigadir Jenderal Katamso, kelurahan Sukaraja, kecamatan Medan Maimun, Medan, Sumatera Utara.
        p.text-justify Luas istana lebih kurang 2.772 m, dengan halaman yang luasnya mencapai 4 hektar. Panjang dari depan kebelakang mencapai 75,50 m. dan tinggi bangunan mencapai 14,14 m. Bangunan istana bertingkat dua, ditopang oleh tiang kayu dan batu