section
    div.row
        h2 Kawah Putih
    div.row
        img(src="img/kawahputih.jpg" width="70%" height="70%")
        
        
section
    div.row
        h2 Kawah Putih
    div.row
        p.text-justify Sebuah wilayah yang terletak di kepulauan Sumatera yang merupakan salah satu Provinsi yang ada di Indonesia yang beribukotakan Medan. Merupakan suatu wilayah yang banyak memiliki cagar alam-cagar alam yang eksotis, salah satunya adalah Kabupaten Simalungun tepatnya di Desa Dolok Tinggi Raja, terdapat sebuah cagar alam yang eksotis dan mempesona mata kita. Masyarakat biasa menyebut Obyek Wisata ini Bukit Kapur atau Kawah Putih Tinggi Raja. Saat ini tempat ini sudah tidak asing lagi, karena sudah banyak masyarakat beramai-ramai datang ketempat ini untuk melihat keindahan serta keunikan dari cagar alam tinggi raja ini.


section
    div.row
        h2 Kawah Putih Cont...
    div.row
        p.text-justify Bukit Kapur Tinggi Raja adalah sebuah bukit kapur yang sangat putih seperti salju. Dan di bagian bawah bukit kapur ini terdapat air sungai Bah Balakbak yang sangat sejuk dan dingin dengan pemandangan Stalaktit (endapan kapur yang menggantung). Potensi sumber air panas yang berasal dari endapan-endapan kapur yang terbentuk dari proses panas bumi yang mengandung belerang sehingga membentuk teras-teras tanah kapur berbukit, dengan luas mencapai 35 hektar. Aliran air panas yang menyatu dengan air sungai sering dimanfaatkan untuk mandi-mandi karena airnya terasa hangat-hangat kuku. Fenomena alam yang cukup unik akibat adanya panas bumi yang aktif ini, dapat berpindah-pindah tempat. Bukit-bukit hasil endapan kapur yang terlihat sudah tidak aktif lagi, sewaktu-waktu dapat kembali aktif. Hal ini menunjukkan kondisi panas bumi dan bukit-bukti kapur tersebut tidak stabil.


section
    div.row
        h2 Lokasi
    div.row
        p.text-justify Desa Tinggi Raja, Kecamatan Silau Kahean, Kabupaten Simalungun, Sumatera Utara


section
    div.row
        h2 Akses
    div.row
        p.text-justify Untuk mencapai lokasi kawasan konservasi ini, ada dua alternatif perjalanan darat yang bisa ditempuh, yaitu :
        p.text-justify – Medan – Lubuk Pakam – Tebing Tinggi – Dolok Tinggi Raja, dengan jarak 110 km atau waktu tempuh 3 jam perjalanan.
        p.text-justify – Medan – Lubuk Pakam – Galang – Dolok Masihul – Dolok Tinggi Raja, dengan jarak 97 km atau waktu tempuh yang hampir sama dengan alternatif di atas.