section
	h2 Akhirnya Siap Juga
	img.img-responsive(src='img/lastSlide.png')

section(data-bespoke-state='emphatic')
	h4.special thanks
	p Our Github Page :<br/>http://coderkid.github.io/tkppl-bespoke-project
	p Our Trello :<br/>https://trello.com/b/aPiUVO1k/tkppl-bespoke-project