section
    div.row
        h2 Mie aceh titi bobrok medan
    div.rows
        img(src="img/mieaceh.jpg"  width="80%" height="100%")
        
        
section        
    div.row
        h2 Mie aceh titi bobrok medan
        p(style="text-align:justify") Kalau di Jalan Pandu terkenal dengan nasi gorengnya, maka di daerah SetiaBudi terkenal dengan Mie Aceh, karena lokasi tersebut mayoritas didiami oleh orang Aceh.Dari semua rumah makan yang kami lihat, hanya rumah makan ‘MIE ACEH TITI BOBROK’ yang paling ramai dikunjungi orang. Lokasinya cukup besar (2 ruko) dengan jumlah staff yang lumayan banyak. Kami memesan beberapa jenis mie Aceh yang sudah merupakan khas dari rumah makan tersebut. Walaupun ramai pengunjung, pelayanannya tidak mengecewakan, di selang percakapan kami beberapa menit, makanan telah dihidangkan.
    
    
section
    div.row
        h2 Mie aceh titi bobrok medan
    div.rows
        p(style="text-align:justify") Hal yang lebih mengejutkan ialah harga makanan yang murah. Dengan Rp.6000 anda sudah dapat menyantap mie Aceh dengan porsi yang lumayan besar. Apabila anda kurang puas, anda bisa memesan Mie Aceh Spesial (Ekstra Daging) dengan tambahan Rp.1500,-. Cukup murah bukan? Sangat Cocok untuk anda yang sedang mengalami finansial ketat di bulan tua.