section
    div.rows
        h2 Mie Pedas Mampus
    div.rows 
        img.img-responsive(src="img/miemampusdepan.jpg")
        
section
    div.rows
        h2 Mie Pedas Mampus Cont...
    div.rows
        p.text-justify Apa rasanya menikmati 50 buah cabai rawit dicampur dalam mi? Pedas mampus itu mungkin kata-kata yang pas menggambarkan kuliner ini. Mie Pedas Mampus, salah satu kuliner unik yang baru-baru ini hadir di kota Medan, tepatnya berada di pinggiran jalan Asia Medan. Letaknya seperti warkop pinggir jalan lainnya, tidak ber-ac dan hanya di bawah tenda dengan beratapkan pohon rindang.
        p.text-justify Ada beberapa level untuk menimati kulinernya ini, yakni mie pedas dengan level sedang, pedas, pedas garuk, pedas gila dan pedas mampus. Jadi masing-masing level kelipatan pedasnya dua kali lipat tiap naik level. Seperti level sedang yang cabe rawitnya hanya 10 biji, maka level pedas mampus sensasi pedasnya dengan kedahsyatan 50 biji cabe rawit.

section
    div.rows
        h2 Mie Pedas Mampus Cont..
    div.rows
        img(src="img/miemampus.gif" width="80%" height="80%")
     
section
    div.rows
        h2 Menu Mie Pedas Mampus
    div.rows
        img.img-responsive(src="img/miemampusmenu.jpg")