section
    div.rows
        h2 Mie Gomak
    div.rows 
        img(src="img/migomak.jpg" width="80%" height="100%")
        
section
    div.rows
        h2 Mie Gomak Cont...
    div.rows
        p(style="text-align:justify")  Mi Gomak, makanan terkenal khas Batak Toba, meliputi semua daerah Batak Toba, seperti Sibolga dan Tapanuli. Disebut gomak karena gomak (bahasa Batak) artinya 'dipegang'. Jadi, mi gomak artinya mi yang digomak-gomak, atau diambil langsung pakai tangan. Penjual mi gomak mengambil mi langsung dengan tangan. Penjual sudah mencuci tangannya sebelum mengambil mi gomak itu. Namun, ada juga penjual yang mengambil mi dengan sendok nasi atau piring kecil.
     
section
    div.rows
        h2 Mie Gomak Cont...
    div.rows
        img(src="img/miegomakjuga.jpg" width="60%" height="60%")
    div.rows
        p(style="text-align:justify") Mi gomak biasa dijumpai di warung, kedai, dan pasar. Ada beragam versi untuk penyebutan mi gomak ini. Ada yang menyebutnya mi lidi karena bentuknya yang bulat panjang seperti lidi. Lalu, ada juga yang menyebutnya spaghetti Batak karena bentuknya yang mirip sekali dengan spaghetti Italia, berwarna kuning, seperti silinder kecil dan panjang.