section
    div.row
        h2 Merdeka Walk
    div.row
        img(src="img/mw1.jpg" width="60%" height="80%")
    div.row
        p.text-justify Merdeka Walk digagas pada zaman Abdillah sebagai Walikota Medan dan diresmikan pada 14 April 2005. Lokasinya mengambil areal bekas tempat parkir yang berada di Lapangan Merdeka yang ada di sisi Jalan Balai Kota disulap jadi tempat kuliner.

section
    div.row
        h2 Merdeka Walk
    div.row
        img(src="img/mw2.jpg" width="40%" height="60%")
    div.row
        p.text-justify Posisinya berada di bawah rindangnya pohon-pohon trembesi berusia ratusan tahun yang ditanam sejak zaman Belanda. Jadi, siang hari panas tidak menyengat karena tertahan rindangnya pohon, sementara malam hari lampu hias beragam model dilekatkan di dahan dan batang pohon.
section
    div.row
        h2 Merdeka Walk Cont..
    div.row
        p.text-justify Areal seluas 6.600 meter persegi itu kini menyediakan setidaknya 700 kursi. Pengunjung bisa memesan makanan dari sekitar 30 dan outlet makanan penjual yang ada. Begitu menu diantar, langsung bayar.
        p.text-justify Dari sisi harga, sajian di Merdeka Walk tak bisa dibilang murah. Bisa dikatakan menengah ke atas. Harga yang standar seperti di luaran hanyalah di restoran fast food.
        p.text-justify Menu yang ditawarkan di sini memang beragam jenis. Mulai dari steak yang variatif jenis dan sajiannya, sup tomyam, sushi, dan seafood, hingga beragam jenis minuman impor. Sedangkan menu lokal lebih tentu beragam lagi, mulai lontong sayur, soto medan, sup buntut, sate padang, nasi gurih atau nasi lemak, dan tentu saja ada nasi goreng, mie pansit, bakso hingga mpek-mpek.
section
    div.row
        h2 Merdeka Walk Cont..
    div.row
        p.text-justify Tidak sekadar itu, tersedia juga menu dimsum, ice cream, serta makanan penutup khas Medan yang disajikan dingin, pancake durian. Jika semua itu masih tidak mempan, maka pengunjung dapat berjalan ke ujung sisi selatan dan di sana tersedia McDonald yang buka 24 jam, atau ke ujung sebelah utara ada Pizza Hut namun hanya buka sampai pukul 24.00 WIB.
        p.text-justify Meskipun aktivitas Merdeka Walk sudah mulai dari pagi, tetapi geliatnya Walk mulai terlihat sejak sore, dan mencapai puncaknya pada malam hari.
        p.text-justify Ada wahana permainan juga di Amazone. Beberapa stand juga menjual mainan untuk anak-anak, dan menyediakan suvenir khas seperti t-shirt dan kerajinan tangan. Jadi, jika tiba peluang datang ke Medan, jangan lewatkan suasana night market ala Asia di Merdeka Walk.