section
    div.row
        h2 Kuliner Pagaruyung
    div.row
        div.col-xs-6.col-lg-6.col-sm-6
            img.img-responsive(src="img/pagaruyung.jpg")
        div.col-xs-6.col-lg-6.col-sm-6
            img.img-responsive(src="img/pagaruyung2.jpg")
section
    div.row
        h2 Kuliner Pagaruyung
    div.row
        p.text-justify Kuliner Pagaruyung menyajikan beragam menu makanan yang akan menggugah selera makan Anda. Ada beberapa menu khas di pusat jajanan ini. Antara lain Nasi briyani, Roti Cane, Martabak India, Martabak Mesir, Kerang rebus, ada juga gado-gado, sate, dan beragam juice buah dan bandrek dan beragam menu lainnya. Yang sudah khas, ada menu Mie Rebus yang sangat terkenal dan layak coba. 
        p.text-justify Lokasi kuliner ini cukup strategis karena berada di tengah-tengah kota Medan. Tak heran begitu mudah ditemukan. 
section
    div.row
        h2 Kuliner Pagaruyung Cont...
    div.row
        p.text-justify Dari pusat perbelanjaan Sun Plaza, kawasan hotel Cambridge, Kuil Shri Mariamman, dan juga Masjid Ghaudiyah, lokasi Kuliner Pagaruyung dapat ditempuh dengan hanya berjalan kaki selama 5 menit saja. 
        p.text-justify Pusat jajanan dan kuliner malam di Kota Medan memang sangat berkembang pesat di berbagai sudut kota. Namun, Kuliner Pagaruyung masih  menjanjikan beragam makanan dan jajanan khas kota Medan. Rasanya tak akan lengkap jika kunjungan anda ke Medan, tak menginjakkan kaki di Kuliner Pagaruyung ini.