section
    div.row
        h2 Pelaruga Desa Rumah Galo
    div.row
        img(src="img/pelaruga.jpg" width="90%" height="90%")
    div.row
        p(style="text-align:justify") Pelaruga merupakan nama dari sebuah komunitas yang artinya yaitu "Pemandu Alam Rumah Galo", disebut Rumah Galo karena tempat ini terletak di kawasan Desa Rumah Galo.Lokasinya berada di Kec. Sei Binge Desa Rumah Galo. Tempat ini merupakan tempat wisata yang cukup dikenal oleh warga kota Medan dan sekitarnya, lokasi wisata di daerah ini berupa Air terjun dan pemandian berupa air sungai yang sangat jernih sehingga pengunjung dapat melihat dasar sungai.
    
section
    div.row
        h2 Pelaruga Cont...
    div.row
        img(src="img/curam.jpg" width="60%" height="60%")
    div.row
        p(style="text-align:justify") Sesampainya di desa rumah galo pengunjung akan langsung didatangi oleh guide setempat untuk ditawari beberapa paket tracking, karena perjalanan ke lokasi air terjun tidak lah mudah bagi pengunjung. Dari camp desa rumah galo, perjalanan kira-kira 40 menit, pengunjung akan melewati perkebunan karet dan ada beberapa tracking curam. Harga untuk menyewa seorang guide 35.000/Org sudah termasuk ongkos parkir juga dijamin aman.
        
section
    div.row
        h2 Pelaruga Cont...
    div.row
        p(style="text-align:justify") Ada dua destinasi yang ditawarkan Pelaruga untuk dikunjungi. Pertama Air Terjun Tongkat dan Kolam Abadi. Pertama, kita akan dibawa tracking menuju Air Terjun Tongkat. Perjalanan ini menghabiskan waktu lebihn kurang satu jam dengan medan yang tidak mudah. Ada satu hal yang paling menarik dari jalur ini, kita akan melewati tangga dari kayu dan bambu dengan kemiringan 90 derajat dan sekitar 60 anak tangga. Cukup memacu adrenalin.

section
    div.row
        h2 Pelaruga Cont...
    div.row
        img.img-responsive(src="img/pelaruga.jpg")
    div.row
        p(style="text-align:justify") Kolam abadi terletak tak jauh dari tempat pertama. Menyusuri aliran sungai, kita akan menemukan kolam sebening kaca, dan dengan dinding-dinding sungai yang masih asri. Air kolam ini dalamnya bisa mencapai dua atau tiga meter, namun kita bisa melihat dasar air dengan sangat jelas.