section
    div.row
        h2 Restoran Pohon Pisang
    div.row
        img.img-responsive(src="img/restopohonpisang.jpg")
section
    div.row
        h2 Restoran Pohon Pisang
    div.row
        p.text-justify Sesuai dengan namanya, Restoran Pohon Pisang menghidangkan setiap makanan dengan memakai alas daun pisang yang merupakan khas Indonesia. Sebagai menu andalan, Restoran Pohon Pisang menyajikan masakan ayam goreng pohon pisang. Untuk penyajiannya, ayam kalasan menjadi pilihan karena dagingnya yang empuk. Daging ayam kalasan diungkep lalu digoreng dengan bumbu kecap manis asin. Tidak lupa taburan merica untuk memperkaya rasanya yang pedas-pedas manis. Setelah agak matang, daun kare, daun pandan dan cabe hijau dimasukkan selama penggorengan, supaya rasanya lebih menyatu. Menu favorit pengunjung lainnya yaitu bibir ikan kerapu yang digulai santan.
section
    div.row
        h2 Restoran Pohon Pisang
    div.row
        p.text-justify Untuk satu porsi hidangan ayam goreng pohon pisang Rp.55 ribu, dan satu porsi bibir ikan kerapu Rp.40 ribu. Ada beberapa menu lainnya yang tidak kalah seperti udang goreng kemangi, ikan gurami goreng, daun ubi jantung pisang dan banyak lagi. Untuk minuman, banyak pilihan seperti jus pohon pisang spesial dengan memakai bahan jahe, apel hijau dan jeruk peras dengan harga Rp.16 ribu.
        p.text-justify Restoran Pohon Pisang juga menyajikan paket breakfast dari pukul 07.00-10.30 pagi. Ada nasi goreng, kue, kopi, dan lainnya dengan harga yang sangat terjangkau yaitu Rp.10 ribu.
section
    div.row
        h2 Lokasi
    div.row
        p.text-justify Restoran Pohon Pisang berlokasi di Jalan Letjend S.Parman Kompleks The Crown Blok A No.16-17 Medan. 
