section
    div.row
        h2 Rumah Makan Sinar Pagi
    div.row
        div.col-xs-6.col-lg-6.col-sm-6
            img.img-responsive(src="img/sinarpagi.jpg")
        div.col-xs-6.col-lg-6.col-sm-6
            img.img-responsive(src="img/sinarpagi2.jpg")
section
    div.row
        h2 Rumah Makan Sinar Pagi
    div.row
        p.text-justify Perjalanan wisata kuliner bisa dimulai dengan mencicipi soto Medan. Tempat yang paling terkenal untuk menikmati panganan ini adalah di Rumah Makan Sinar Pagi, tepatnya berada di Jalan Sei Deli. Jangan kaget, sebab masyarakat Medan sudah terbiasa sarapan dengan soto khasnya. Berbeda dengan kebanyakan soto di Pulau Jawa, soto Medan memiliki kuah yang lebih kental. Campuran santan dan bumbu-bumbu yang digunakan juga sangat khas, Anda pasti ketagihan. Namun, jika Anda tidak suka makanan bersantan, tempat ini juga punya menu lain, seperti sop ayam atau sop daging yang sama nikmatnya.
section
    div.row
        h2 Rumah Makan Sinar Pagi Cont..
    div.row
        p.text-justify Rumah Makan Sinar Pagi memang sudah terkenal dan selalu ramai pengunjung. Jadi, Anda harus bersabar jika ingin mengisi perut di sini. Atau mungkin, Anda juga bisa datang lebih pagi. Rumah makan ini buka pukul 7.00 sampai 15.00 WIB. Selain sebagai menu sarapan, soto Medan juga nikmat disantap siang hari.