section
    div.row
        h2 Taman Simalem
    div.row
        div.col-xs-6.col-lg-6.col-sm-6
            img.img-responsive(src="img/simalem1.jpg")
        div.col-xs-6.col-lg-6.col-sm-6
            img.img-responsive(src="img/simalem2.jpg")
section
    div.row
        h2 Simalem
    div.row
        p.text-justify Kawasan ekowisata Taman Simalem Resort berada dalam kawasan seluas 206 hektar  dan berada pada ketinggian 1500 meter diatas permukaan laut. Kawasan ini dikembangkan sebagai daerah tujuan wisata di Sumatera Utara yang menggabungkan konsep pertanian (agrowisata)  dengan luas lebih dari 25 hektar dan kegiatan ekowisata di dalam satu kawasan terpadu. Simalem dalam bahasa batak karo berarti sejuk dan nyaman, sangat sesuai dengan alamnya. Panorama di Taman Simalem Resort sangat indah, berhawa sejuk dan memiliki view yang bagus ke Danau Toba.

        p.text-justify Setelah menempuh perjalanan sekitar 35 km dari Kabanjahe. Tarif masuk untuk mobil dikenai biaya  Rp. 250.000,-  sudah termasuk beberapa voucher untuk membeli makanan, minuman dan bermain di wahana outbound.
section
    div.row
        h2 Fasilitas
        ol.text-left
            li Jungle Track & Camping Ground, merupakan kawasan hutan, tempat perkemahan.
            li Biwa,Marquisa & Orange Farm, merupakan kebun buah-buahan.
            li Helipad, merupakan area parkir untuk helikopter.
            li Merek Funland, merupakan tempat rekreasi atau taman bermain bagi keluarga.
            li Pangambatan Zoopark, merupakan taman satwa interaktif dan alami, dan masih banyak lagi.