section
    div.row
        h2 Sipiso-piso
    div.row
        img.img-responsive(src="img/sipisopiso1.gif")
section
    div.row
        h2 Sipiso-piso
    div.row
        p.text-justify Air Terjun Sipiso Piso berada di sekitar tepi Danau Toba bagian utara dengan ketinggian lebih kurang 800 meter dari permukaan laut (dpl) dan dikelilingi oleh bukit yang hijau karena ditumbuhi hutan pinus.  Ketinggian air terjun ini berkisar 120 meter sehingga dinobatkan sebagai air terjun tertinggi di Indonesia.

        p.text-justify Nama Sipiso-piso berasal dari piso yang artinya pisau. Derasnya air-air yang berjatuhan dari bukit berketinggian di atas seratus meter ini diumpamakan layaknya berbilah-bilah pisau yang tajam. Selain itu, jurang yang curam jika dilihat dari puncak bukit membuat orang setempat menyebutnya piso dari Tanah Karo.
section
    div.row
        h2 Lokasi
    div.row
        p.text-justify Sipiso-piso terletak di Desa Tongging, Kecamatan Merek, Kabupaten Karo, Propinsi Sumatra Utara.  Kecamatan ini berada sekitar 24 km dari Kota Kabanjahe, ibukota Kabupaten Karo. Sedangkan jarak air terjun ini dari Kota Brastagi sejauh 35 km atau  hanya memerlukan sekitar 45 menit dari Kota Medan.
section
    div.row
        h2 Aksesibilitas
    div.row
        p.text-justify Untuk menuju air terjun ini dari Brastagi, arahkan perjalanan ke Parapat. Tak jauh setelah melewati Kota Kabanjahe, perhatikan jalan dengan teliti dan temukan tanda untuk menuju air terjun ini. Setelah berbelok ke kiri, ikuti jalan ini hingga menemukan sebuah danau besar yaitu Danau Toba. Di danau ini pengunjung bisa singgah sebelum meniti jajaran anak tangga yang melintasi lereng perbukitan di tepi Danau Toba. Ini yang merupakan satu-satunya jalan aman bagi wisatawan.
        p.text-justify Jika menggunakan kendaraan umum dapat menggunakan bus dari terminal pusat kota  Medan dengan trayek Kabanjahe. Waktu yang dibutuhkan sekitar 2 jam.  Setelah sampai di Kabanjahe dilanjutkan 24 km ke arah utara jalur menuju Danau Toba hingga sampai di desa Tongging.  Waktu yang dibutuhkan sekitar 30 menit berkendara. 