section
    div.row
        h2 Rumah Makan Sipirok Medan
    div.row
        img.img-responsive(src="img/sipirok.jpg")
        
        
section
    div.row
        h2 Rumah Makan Sipirok Medan
    div.row
        p.text-left Rumah makan memiliki ruang yang lumayan luas dan bersih. Menu andalan yang tersaji di Rumah Makan Sipirok adalah sop iga sapi dengan kuah bening dan rasanya yang gurih. Masakan Medan yang satu ini benar-benar menggugah selera. Kalau sudah sekali makan, pasti ingin nambah.
        
        
section
    div.row
        h2 Rumah Makan Sipirok Medan
    div.row
        p.text-left Selain itu, ada juga gulai ikan asap dan sup sumsum kaki sapi. Cara makan sup sumsum kaki sapi di Rumah Makan Sipirok sangat unik. Sumsum yang ada di dalam rongga tulang kaki sapi dihisap menggunakan sedotan.
        
        
section
    div.row
        h2 Lokasi Rumah Makan
    div.row
        p.text-left Rumah Makan Sipirok yang berlokasi di Jln. Sunggal No. 14, Medan. Biasanya rumah makan ini mulai buka pukul 10.00 WIB-15.00 WIB.  Lokasinya tepat berada di pinggir jalan raya.