section
    div.row
        h2 Sumatera Utara
    div.row
        img.img-responsive(src="img/sumatra.png")
    div.row
        p.text-justify Provinsi Sumatera Utara terletak pada 1° - 4° Lintang Utara dan 98° - 100° Bujur Timur, Luas daratan Provinsi Sumatera Utara 72.981,23 km².
section
    div.row
        h2 Batas Wilayah
        table.table.table-bordered.text-left
            tr
                td Utara 
                td Provinsi Aceh dan Selat Malaka
            tr
                td Selatan
                td Provinsi Riau, Provinsi Sumatera Barat, dan Samudera Indonesia
            tr
                td Barat
                td Provinsi Aceh dan Samudera Indonesia
            tr
                td Timur
                td Selat Malaka

section
    div.row
        h2 Batas wilayah Cont...
    div.row
        p.text-justify Di Sumatera Utara saat ini terdapat dua taman nasional, yakni Taman Nasional Gunung Leuser dan Taman Nasional Batang Gadis. Menurut Keputusan Menteri Kehutanan, Nomor 44 Tahun 2005, luas hutan di Sumatera Utara saat ini 3.742.120 hektare (ha). Yang terdiri dari Kawasan Suaka Alam/Kawasan Pelestarian Alam seluas 477.070 ha, Hutan Lindung 1.297.330 ha, Hutan Produksi Terbatas 879.270 ha, Hutan Produksi Tetap 1.035.690 ha dan Hutan Produksi yang dapat dikonversi seluas 52.760 ha.
section
    div.row
        h2 Batas wilayah Cont...
    div.row
        p.text-justify Namun angka ini sifatnya secara de jure saja. Sebab secara de facto, hutan yang ada tidak seluas itu lagi. Terjadi banyak kerusakan akibat perambahan dan pembalakan liar. Sejauh ini, sudah 206.000 ha lebih hutan di Sumut telah mengalami perubahan fungsi. Telah berubah menjadi lahan perkebunan, transmigrasi. Dari luas tersebut, sebanyak 163.000 ha untuk areal perkebunan dan 42.900 ha untuk areal transmigrasi.

section
    div.row
        h3 Daftar kabupaten/kota di Sumatera Utara
    div.row
        ol.text-left
            div.col-xs-6.col-sm-6
                li Kabupaten Asahan
                li Kabupaten Batubara
                li Kabupaten Dairi
                li Kabupaten Deli Serdang
                li Kabupaten Humbang Hasundutan
                li Kabupaten Karo
                li Kabupaten Labuhanbatu
                li Kabupaten Labuhanbatu Selatan
            div.col-xs-6.col-sm-6
                li Kabupaten Labuhanbatu Utara
                li Kabupaten Langkat
                li Kabupaten Mandailing Natal
                li Kabupaten Nias
                li Kabupaten Nias Barat
                li Kabupaten Nias Selatan
                li Kabupaten Nias Utara
                li Kabupaten Padang Lawas
section
    div.row
        ol.text-left(start="17")
            div.col-xs-6.col-sm-6
                li Kabupaten Padang Lawas Utara
                li Kabupaten Pakpak Bharat
                li Kabupaten Samosir
                li Kabupaten Serdang Bedagai
                li Kabupaten Simalungun
                li Kabupaten Tapanuli Selatan    
                li Kabupaten Tapanuli Tengah
                li Kabupaten Tapanuli Utara
                li Kabupaten Toba Samosir
            div.col-xs-6.col-sm-6
                li Kota Binjai
                li Kota Gunungsitoli
                li Kota Medan
                li Kota Padangsidempuan
                li Kota Pematangsiantar
                li Kota Sibolga
                li Kota Tanjungbalai
                li Kota Tebing Tinggi
    div.row
        small.text-right Sumber : Wikipedia(2010)