section
    div.row
        img.img-responsive(src="img/sushiboat.jpg")
section
    div.row
        h2 Sushi Boat
    div.row
        p.text-justify Sushi Boat Japanese Restaurant memantapkan diri untuk turut meramaikan pasar kuliner yang mengambil konsep Japanese food. Bukan tidak banyak restoran Jepang di Medan, namun Sushi Boat memang merupakan restoran Jepang berkonsep baru. Berani mengklaim diri sebagai restoran yang menyajikan makanan yang super fresh dan mempertahankan keaslian cita rasa Jepang-nya. Bahkan beberapa material makanannya langsung diimpor dari Negara asalnya tanpa perantara, sebut saja Hiroshima Oyster, Norwegian Salmon. Namun beberapa material makan yang bisa ditemukan di lokal juga tentunya tetap diberdayakan. Sushi Boat juga menyajikan menu-menu khusus untuk para vegetarian.

section
    div.row
        h2 Sushi Boat Cont...
    div.row
        p.text-justify Untuk konsep sendiri, Sushi Boat merupakan restoran Jepang di Medan yang memiliki mini river (sungai kecil) yang mengitari sushi bar–nya. Barisan kapal - kapal kecil melintasi area indoor restoran mengantarkan berbagai varian sushi ke meja pengunjung. Selain memiliki 2 ruang VIP, Sushi Boat juga memiliki area outdoor yang luas di belakang restoran yang nyaman sangat cocok untuk private garden party. Pagar bambu Jepang, kolam kecil, penerangan yang cozy serta tori gapura khas Jepang menambah keasrian zen garden.
        p.text-justify Suguhan live band di weekend dan hari-hari khusus dapat dinikmati di restoran yang berada di Jl. Adi Sucipto Polonia Kompleks River View AA 221-22 ini. Untuk reservasi boleh langsung ke 061-8880-7377 atau visit instagramnya di @SushiBoatMDN. Buka Senin-Minggu 11.00 – 22.00. Harga Sekitar Rp.70.000/pax.