section
    div.rows
        h2 Ucok Durian
    div.rows
        img(src="img/UcokDurian.jpg" width="80%" height="100%")
    div.rows
        p(style="text-align:justify") Ucok Durian merupakan salah satu gerai durian di Medan. Sebenarnya ada banyak gerai durian di Medan. Bagaimana tidak banyak karena Medan sendiri termasuk salah satu “produsen” durian paling enak se-Indonesia! Sumber durian yang didapat dari berbagai daerah seperti Sibolga, Pematang Siantar dan durian dengan kualitas yang paling mantap berasal dari Sidikalang.