section
    div.rows
        h2 Sate Padang Alfresco
    div.rows
        img(src="img/Alfresco.jpg" width="80%" height="100%")
     
section
    div.rows
        h2 Sate Padang Alfresco
    div.rows
        p(style="text-align:justify") Sate Padang Alfresco yang berlokasi di Jalan Setia Budi. Sate padang yang terkenal cukup pedas dengan dagingnya yang tebal ini biasanya buka sejak sore hingga menjelang pukul 23.00 WIB. Dengan harga Rp 14.000 per porsi, perut akan terasa kenyang. Sate Padang memiliki banyak cabang. Ada yang terletak di jalan Setia Budi Medan, juga ada di Komplek Berastagi Supermarket, Jl. Gatot Subroto, Medan dan Alfresco ini juga membuka gerai di dalam pusat perbelanjaan terbesar di Kota Medan, yakni Carrefour Plaza Medan Fair.
